.home11{
    font-family: 'Varela', sans-serif;
    width: 100%;
    position: absolute;
    top: 3300px;
    margin-top: 150px;
    transform: translateY(-50%);
    text-align: justify;
    color: black;
    font-size: 15px;
    padding: 20px 0px;
    background-color: #ffffff;
    display: flex;
}

.home11 .text{
    margin-right: 50px;
    margin-left: 50px;
}

.kuhinja11{
    margin-left: 20%;
    color: rgb(150, 150, 150);
}

.naslov1{
    margin-top:70px;
    margin-left: 20%;
    margin-right: 50%;
    font-size: 35px;
    color: #181818;
}

.kuhinja12{
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    color: rgb(150, 150, 150);
}

.slika45{
    display: flex;
    margin-left: 10%;
}

@media only screen and (max-width: 728px) {
    .slika45{
        display:none;
    }

    .home1{
        display: block;
    }
  }