.home1{
    font-family: 'Varela', sans-serif;
    width: 100%;
    position: absolute;
    top: 150%;
    margin-top: 150px;
    transform: translateY(-50%);
    text-align: justify;
    color: black;
    font-size: 15px;
    padding: 20px 0px;
    background-color: #ffffff;
    display: flex;
    margin: auto;
}

.home1 .text{
    margin-right: 50px;
    margin-left: 50px;
}

.kuhinja{
    margin-left: 20%;
    color: rgb(150, 150, 150);
}

.naslov{
    margin-left: 20%;
    margin-right: 53.5%;
    font-size: 35px;
    color: #181818;
}

.kuhinja1{
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    color: rgb(150, 150, 150);
}

.slika{
    display: flex;
    margin-right: 13%;
}

@media only screen and (max-width: 728px) {
    .slika{
        position: relative;
        width: 300px;
        height: 300px;
        left: 20%;
    }

    .home1{
        display: block;
    }
  }