nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top: 0px;
    left: 0;
	width:100%;
	z-index: 1;
    background-color: #111111;
    transition: 0.6s ease-in-out;
}
nav.active{
    background-color: #111111;
}
nav ul{
	display: flex;
    list-style-type: none;
}

.logo:hover{
    cursor: pointer;
}

nav ul li a{
    list-style-type: none;
    font-family: 'Varela', sans-serif;
	height:30px;
	line-height: 35px;
	margin: 10px;
	padding: 0px 22px;
	display: flex;
	font-size: 0.9rem;
	font-weight: 500;
	color:#ffffff;
    letter-spacing: 2px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

nav ul li a:hover{
    font-size: 1rem;
    font-weight: bold;
}

nav .menu-btn,
.menu-icon{
		display:none;
	}

    @media(max-width:768px){.menu-icon{
        display:block;}
            nav{
                top:0px;
                justify-content: space-between;
                height: 65px;
                padding: 5px 25px;
            }
            .header-btns{
                margin: 0;
            }
            .pr-btns{
                margin: 0;
            }
            .menu{
                display:none;
                position:absolute;
                top:75px;
                left:0px;
                background-color:#111111;
                border-bottom:4px solid #e44c39;
                width:100%;
                padding:0px;
                margin:0px;
            }
            .menu li{
                width:100%;
                
            }
            nav .menu li a{
                width:100%;
                height:35px;
                justify-content: left;
                align-items: left;
                text-align: left;
                margin:0px;
                padding: 25px;
            }
            nav .menu-icon{
                cursor:pointer;
                float:right;
                padding:28px 50px;
                position:relative;
                user-select: none;
            }
            nav .menu-icon .nav-icon{
                background-color:#ffffff;
                display:block;
                height:2px;
                position:relative;
                transition: background 0.2s ease-out;
                width:24px;
            }
            nav .menu-icon .nav-icon:before,
            nav .menu-icon .nav-icon:after{
                background:rgb(255, 255, 255);
                content:'';
                display:block;
                height:100%;
                position:absolute;
                transition:all ease-out 0.2s;
                width:100%;
            } 
            nav .menu-icon .nav-icon:before{
                top:6px;
            }
            nav .menu-icon .nav-icon:after{
                top:-6px;
            }
            nav .menu-btn:checked ~ .menu-icon .nav-icon{
                background:transparent;
            }
            nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
                transform: rotate(-45deg);
                top:0;
            }
            nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
                transform: rotate(45deg);
                top:0;
            }
            nav .menu-btn{
                display:none;
            }
            nav .menu-btn:checked ~ .menu{
                display:block;
            }}
            @media(max-width:400px){
                .a-box{
                    width: 100%;
                    height:400px;
                }
            }